Source: base-files
Section: admin
Priority: required
Maintainer: Carlos Espinoza <carlosarmikhael@gmail.com>
Standards-Version: 3.9.4
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://git.canaima.softwarelibre.gob.ve/base-files.git
Vcs-Browser: http://git.canaima.softwarelibre.gob.ve/?p=base-files.git

Package: base-files
Provides: base
Architecture: any
Pre-Depends: awk
Essential: yes
Priority: required
Replaces: base, miscutils, dpkg (<= 1.15.0)
Breaks: initscripts (<< 2.88dsf-13.3), sendfile (<< 2.1b.20080616-5.2~)
Multi-Arch: foreign
Description: Sistema de Archivos Base de Canaima
 Éste paquete contiene la jerarquía básica del sistema operativo Canaima, y
 numerosos archivos misceláneos de configuración como el /etc/canaima_version,
 /etc/host.conf, /etc/issue, /etc/motd, /etc/profile, /etc/nsswitch.conf,
 entre otros, y el texto de diferentes licencias libres en Canaima.
